/** @format */

.site-footer {
  margin         : 40px 0 0 0;
  display        : flex;
  justify-content: center;
  align-items    : flex-end;
  flex-direction : row-reverse;

  .dropdown {
    position: relative;
    display : inline-block;

    .dropbtn {
      text-transform : uppercase;
      text-decoration: none;
      font-weight    : bold;
      color          : black;
      padding        : 16px;
      font-size      : 16px;
      border         : none;
    }

    .dropdown-content {
      display         : none;
      margin-top      : 20px;
      margin-left     : 10px;
      position        : absolute;
      background-color: $white;
      min-width       : 100px;
      box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index         : 1;

      a {
        color          : black;
        padding        : 12px 16px;
        text-decoration: none;
        display        : block;
      }
    }
  }
}

.footerContainer {
  display        : flex;
  justify-content: center;

  .topContainer {
    width: 100px;

    div {
      margin-bottom: auto;
      margin       : 40px 0 0 8px;
    }
  }
}


@media (max-width: 880px) {
  .customize-support {
    footer {
      display  : flex;
      flex-wrap: wrap;

      .dropdown {
        .dropbtn {
          line-height: 30px;
        }

        .dropbtn:hover {
          color: crimson;
        }
      }
    }
  }
}

section {
  background : #b7b7b7 none repeat scroll 0 0;
  font-family: 'Open Sans', sans-serif;
}

.layout {
  margin   : 0 auto;
  max-width: 1170px;
  width    : 100%;
  padding  : 0 15px;
}

/********Grid Widht *******/

.form-group {
  float        : left;
  padding-left : 15px;
  padding-right: 15px;
  width        : 50%;
}

.grid-8 {
  width: 66.6667%;
}

.grid-12 {
  width        : 100%;
  padding-left : 15px;
  padding-right: 15px;
  position     : relative;
  overflow     : hidden;
}


/***Section Css******/

section {
  background: #34495e;
  color     : #000;
  padding   : 30px 0;
}

.text-center {
  text-align: center;
}

.section-title {
  color         : #fff;
  font-size     : 35px;
  font-weight   : bold;
  text-transform: uppercase;
}

.contact p {
  color         : #929292;
  letter-spacing: 1.5px;
  padding-top   : 50px;
}

.form {
  margin: 0 auto;
}

.form form {
  margin-top: 50px;
}

input {
  width: 100%;
}

.form-control {
  width: 100%;
}

.form-control {
  background-color: #fff;
  border          : 1px solid #ccc;
  box-shadow      : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color           : #555;
  display         : block;
  font-size       : 14px;
  line-height     : 1.42857;
  padding         : 6px 12px;
  transition      : border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width           : 100%;
  text-transform  : capitalize;
}

.costom-btn {
  background    : #22c489;
  border        : 1px solid #22c489;
  color         : #ffffff;
  font          : bold 16px/18px "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width         : 100%;
  padding       : 6px 12px;
  cursor        : pointer;
}

.form-group {
  margin-top: 23px;
}

.icon-text {
  color         : #ffffff;
  font          : 16px/22px "Open Sans", sans-serif;
  text-align    : center;
  text-transform: uppercase;
  margin        : 25px 0;
}

.icon-holder {
  margin: 0 auto;
  width : 265px;
}

.icon-holder ul li a {
  color : #ffffff;
  height: 38px;
  width : 38px;
}

.icon-holder ul li {
  display: inline;
  padding: 12px;
}

@media (max-width:980px) {
  .layout {
    width: 80%px;
  }

  .grid-6 {
    width: 50%;
  }
}

@media (max-width:640px) {
  .layout {
    width: 80%;
  }

  .form-group,
  .grid-8 {
    width: 100%;
  }


}