$xl: 100%;
$lg: 1200px;
$md: 768px;
$sm: 270px;


.grid-container {
    // letter-spacing: -.31em;
    text-rendering: optimizespeed;
    display       : flex;
    flex-flow     : row wrap;
    align-content : flex-start;
    max-width     : $xl;
    margin-right  : auto;
    margin-left   : auto;

    &.center {
        justify-content: center;
    }
}

.grid-text {
    zoom          : 1;
    letter-spacing: normal;
    word-spacing  : normal;
    vertical-align: top;
    text-rendering: auto;
}
.sm-15-62,
.sm-1-36,
.sm-2-36,
.sm-3-36,
.sm-4-36,
.sm-5-36,
.sm-6-36,
.sm-7-36,
.sm-8-36,
.sm-9-36,
.sm-10-36,
.sm-12-36,
.sm-15-36,
.sm-17-36,
.sm-1,
.sm-1-1,
.sm-1-12,
.sm-1-2,
.sm-1-24,
.sm-1-3,
.sm-1-4,
.sm-1-5,
.sm-1-6,
.sm-1-8,
.sm-10-24,
.sm-11-12,
.sm-11-24,
.sm-12-24,
.sm-13-24,
.sm-14-24,
.sm-15-24,
.sm-16-24,
.sm-17-24,
.sm-18-24,
.sm-19-24,
.sm-2-24,
.sm-2-3,
.sm-2-5,
.sm-20-24,
.sm-21-24,
.sm-22-24,
.sm-23-24,
.sm-24-24,
.sm-3-24,
.sm-3-4,
.sm-3-5,
.sm-3-8,
.sm-4-24,
.sm-4-5,
.sm-5-12,
.sm-5-24,
.sm-5-5,
.sm-5-6,
.sm-5-8,
.sm-6-24,
.sm-7-12,
.sm-7-24,
.sm-7-8,
.sm-8-24,
.sm-9-24 {
    display       : inline-block;
    zoom          : 1;
    letter-spacing: normal;
    word-spacing  : normal;
    vertical-align: top;
    text-rendering: auto
}

.sm-1-36 {
    width: 2.7778%;
}

.sm-1-24 {
    width: 4.1667%
}

.sm-2-36 {
    width: 5.5556%;
}

.sm-1-12,
.sm-2-24,
.sm-3-36 {
    width: 8.3333%
}

.sm-4-36 {
    width: 11.1111%;
}

.sm-1-8,
.sm-3-24 {
    width: 12.5%
}

.sm-5-36 {
    width: 13.8889;
}

.sm-1-6,
.sm-4-24,
.sm-6-36 {
    width: 16.6667%
}

.sm-7-36 {
    width: 19.4444%;
}

.sm-1-5 {
    width: 20%
}

.sm-5-24 {
    width: 20.8333%
}

.sm-8-36 {
    width: 22.2222%;
}

.sm-15-62 {
    width: 24.1935%;
}

.sm-1-4,
.sm-6-24,
.sm-9-36 {
    width: 25%
}

.sm-10-36 {
    width: 27.7778%;
}

.sm-7-24 {
    width: 29.1667%
}

.sm-1-3,
.sm-8-24,
.sm-12-36 {
    width: 33.3333%
}

.sm-3-8,
.sm-9-24 {
    width: 37.5%
}

.sm-2-5 {
    width: 40%
}

.sm-10-24,
.sm-5-12,
.sm-15-36 {
    width: 41.6667%
}

.sm-11-24 {
    width: 45.8333%
}

.sm-17-36 {
    width: 47.2222%;
}

.sm-1-2,
.sm-12-24 {
    width: 50%
}

.sm-13-24 {
    width: 54.1667%
}

.sm-14-24,
.sm-7-12 {
    width: 58.3333%
}

.sm-3-5 {
    width: 60%
}

.sm-15-24,
.sm-5-8 {
    width: 62.5%
}

.sm-16-24,
.sm-2-3 {
    width: 66.6667%
}

.sm-17-24 {
    width: 70.8333%
}

.sm-18-24,
.sm-3-4 {
    width: 75%
}

.sm-19-24 {
    width: 79.1667%
}

.sm-4-5 {
    width: 80%
}

.sm-20-24,
.sm-5-6 {
    width: 83.3333%
}

.sm-21-24,
.sm-7-8 {
    width: 87.5%
}

.sm-11-12,
.sm-22-24 {
    width: 91.6667%
}

.sm-23-24 {
    width: 95.8333%
}

.sm-1,
.sm-1-1,
.sm-24-24,
.sm-5-5 {
    width: 100%
}

@media screen and (min-width:$sm) {

    .md-15-62,
    .md-1-36,
    .md-2-36,
    .md-3-36,
    .md-4-36,
    .md-5-36,
    .md-6-36,
    .md-7-36,
    .md-8-36,
    .md-9-36,
    .md-10-36,
    .md-12-36,
    .md-15-36,
    .md-17-36,
    .md-1,
    .md-1-1,
    .md-1-12,
    .md-1-2,
    .md-1-24,
    .md-1-3,
    .md-1-4,
    .md-1-5,
    .md-1-6,
    .md-1-8,
    .md-10-24,
    .md-11-12,
    .md-11-24,
    .md-12-24,
    .md-13-24,
    .md-14-24,
    .md-15-24,
    .md-16-24,
    .md-17-24,
    .md-18-24,
    .md-19-24,
    .md-2-24,
    .md-2-3,
    .md-2-5,
    .md-20-24,
    .md-21-24,
    .md-22-24,
    .md-23-24,
    .md-24-24,
    .md-3-24,
    .md-3-4,
    .md-3-5,
    .md-3-8,
    .md-4-24,
    .md-4-5,
    .md-5-12,
    .md-5-24,
    .md-5-5,
    .md-5-6,
    .md-5-8,
    .md-6-24,
    .md-7-12,
    .md-7-24,
    .md-7-8,
    .md-8-24,
    .md-9-24 {
        display       : inline-block;
        zoom          : 1;
        letter-spacing: normal;
        word-spacing  : normal;
        vertical-align: top;
        text-rendering: auto
    }

    .md-1-36 {
        width: 2.7778%;
    }

    .md-1-24 {
        width: 4.1667%
    }

    .md-2-36 {
        width: 5.5556%;
    }

    .md-1-12,
    .md-2-24,
    .md-3-36 {
        width: 8.3333%
    }

    .md-4-36 {
        width: 11.1111%;
    }

    .md-1-8,
    .md-3-24 {
        width: 12.5%
    }

    .md-5-36 {
        width: 13.8889;
    }

    .md-1-6,
    .md-4-24,
    .md-6-36 {
        width: 16.6667%
    }

    .md-7-36 {
        width: 19.4444%;
    }

    .md-1-5 {
        width: 20%
    }

    .md-5-24 {
        width: 20.8333%
    }

    .md-8-36 {
        width: 22.2222%;
    }

    .md-15-62 {
        width: 24.1935%;
    }

    .md-1-4,
    .md-6-24,
    .md-9-36 {
        width: 25%
    }

    .md-10-36 {
        width: 27.7778%;
    }

    .md-7-24 {
        width: 29.1667%
    }

    .md-1-3,
    .md-8-24,
    .md-12-36 {
        width: 33.3333%
    }

    .md-3-8,
    .md-9-24 {
        width: 37.5%
    }

    .md-2-5 {
        width: 40%
    }

    .md-10-24,
    .md-5-12,
    .md-15-36 {
        width: 41.6667%
    }

    .md-11-24 {
        width: 45.8333%
    }

    .md-17-36 {
        width: 47.2222%;
    }

    .md-1-2,
    .md-12-24 {
        width: 50%
    }

    .md-13-24 {
        width: 54.1667%
    }

    .md-14-24,
    .md-7-12 {
        width: 58.3333%
    }

    .md-3-5 {
        width: 60%
    }

    .md-15-24,
    .md-5-8 {
        width: 62.5%
    }

    .md-16-24,
    .md-2-3 {
        width: 66.6667%
    }

    .md-17-24 {
        width: 70.8333%
    }

    .md-18-24,
    .md-3-4 {
        width: 75%
    }

    .md-19-24 {
        width: 79.1667%
    }

    .md-4-5 {
        width: 80%
    }

    .md-20-24,
    .md-5-6 {
        width: 83.3333%
    }

    .md-21-24,
    .md-7-8 {
        width: 87.5%
    }

    .md-11-12,
    .md-22-24 {
        width: 91.6667%
    }

    .md-23-24 {
        width: 95.8333%
    }

    .md-1,
    .md-1-1,
    .md-24-24,
    .md-5-5 {
        width: 100%
    }
}

@media screen and (min-width:$md) {

    .lg-15-62,
    .lg-1-36,
    .lg-2-36,
    .lg-3-36,
    .lg-4-36,
    .lg-5-36,
    .lg-6-36,
    .lg-7-36,
    .lg-8-36,
    .lg-9-36,
    .lg-10-36,
    .lg-12-36,
    .lg-15-36,
    .lg-17-36,
    .lg-1,
    .lg-1-1,
    .lg-1-12,
    .lg-1-2,
    .lg-1-24,
    .lg-1-3,
    .lg-1-4,
    .lg-1-5,
    .lg-1-6,
    .lg-1-8,
    .lg-10-24,
    .lg-11-12,
    .lg-11-24,
    .lg-12-24,
    .lg-13-24,
    .lg-14-24,
    .lg-15-24,
    .lg-16-24,
    .lg-17-24,
    .lg-18-24,
    .lg-19-24,
    .lg-2-24,
    .lg-2-3,
    .lg-2-5,
    .lg-20-24,
    .lg-21-24,
    .lg-22-24,
    .lg-23-24,
    .lg-24-24,
    .lg-3-24,
    .lg-3-4,
    .lg-3-5,
    .lg-3-8,
    .lg-4-24,
    .lg-4-5,
    .lg-5-12,
    .lg-5-24,
    .lg-5-5,
    .lg-5-6,
    .lg-5-8,
    .lg-6-24,
    .lg-7-12,
    .lg-7-24,
    .lg-7-8,
    .lg-8-24,
    .lg-9-24 {
        display       : inline-block;
        zoom          : 1;
        letter-spacing: normal;
        word-spacing  : normal;
        vertical-align: top;
        text-rendering: auto
    }

    .lg-1-36 {
        width: 2.7778%;
    }

    .lg-2-36 {
        width: 5.5556%;
    }

    .lg-1-24 {
        width: 4.1667%
    }

    .lg-1-12,
    .lg-2-24,
    .lg-3-36 {
        width: 8.3333%
    }

    .lg-4-36 {
        width: 11.1111%;
    }

    .lg-1-8,
    .lg-3-24 {
        width: 12.5%
    }

    .lg-5-36 {
        width: 13.8889;
    }

    .lg-1-6,
    .lg-4-24,
    .lg-6-36 {
        width: 16.6667%
    }

    .lg-7-36 {
        width: 19.4444%;
    }

    .lg-1-5 {
        width: 20%
    }

    .lg-5-24 {
        width: 20.8333%
    }

    .lg-8-36 {
        width: 22.2222%;
    }

    .lg-15-62 {
        width: 24.1935%;
    }

    .lg-1-4,
    .lg-6-24,
    .lg-9-36 {
        width: 25%
    }

    .lg-7-24 {
        width: 29.1667%
    }

    .lg-10-36 {
        width: 27.7778%;
    }

    .lg-1-3,
    .lg-8-24,
    .lg-12-36 {
        width: 33.3333%
    }

    .lg-3-8,
    .lg-9-24 {
        width: 37.5%
    }

    .lg-2-5 {
        width: 40%
    }

    .lg-10-24,
    .lg-5-12,
    .lg-15-36 {
        width: 41.6667%
    }

    .lg-11-24 {
        width: 45.8333%
    }

    .lg-17-36 {
        width: 47.2222%;
    }

    .lg-1-2,
    .lg-12-24 {
        width: 50%
    }

    .lg-13-24 {
        width: 54.1667%
    }

    .lg-14-24,
    .lg-7-12 {
        width: 58.3333%
    }

    .lg-3-5 {
        width: 60%
    }

    .lg-15-24,
    .lg-5-8 {
        width: 62.5%
    }

    .lg-16-24,
    .lg-2-3 {
        width: 66.6667%
    }

    .lg-17-24 {
        width: 70.8333%
    }

    .lg-18-24,
    .lg-3-4 {
        width: 75%
    }

    .lg-19-24 {
        width: 79.1667%
    }

    .lg-4-5 {
        width: 80%
    }

    .lg-20-24,
    .lg-5-6 {
        width: 83.3333%
    }

    .lg-21-24,
    .lg-7-8 {
        width: 87.5%
    }

    .lg-11-12,
    .lg-22-24 {
        width: 91.6667%
    }

    .lg-23-24 {
        width: 95.8333%
    }

    .lg-1,
    .lg-1-1,
    .lg-24-24,
    .lg-5-5 {
        width: 100%
    }
}

@media screen and (min-width:$lg) {

    .xl-15-62,
    .xl-1-36,
    .xl-2-36,
    .xl-3-36,
    .xl-4-36,
    .xl-5-36,
    .xl-6-36,
    .xl-7-36,
    .xl-8-36,
    .xl-9-36,
    .xl-10-36,
    .xl-12-36,
    .xl-15-36,
    .xl-17-36,
    .xl-1,
    .xl-1-1,
    .xl-1-12,
    .xl-1-2,
    .xl-1-24,
    .xl-1-3,
    .xl-1-4,
    .xl-1-5,
    .xl-1-6,
    .xl-1-8,
    .xl-10-24,
    .xl-11-12,
    .xl-11-24,
    .xl-12-24,
    .xl-13-24,
    .xl-14-24,
    .xl-15-24,
    .xl-16-24,
    .xl-17-24,
    .xl-18-24,
    .xl-19-24,
    .xl-2-24,
    .xl-2-3,
    .xl-2-5,
    .xl-20-24,
    .xl-21-24,
    .xl-22-24,
    .xl-23-24,
    .xl-24-24,
    .xl-3-24,
    .xl-3-4,
    .xl-3-5,
    .xl-3-8,
    .xl-4-24,
    .xl-4-5,
    .xl-5-12,
    .xl-5-24,
    .xl-5-5,
    .xl-5-6,
    .xl-5-8,
    .xl-6-24,
    .xl-7-12,
    .xl-7-24,
    .xl-7-8,
    .xl-8-24,
    .xl-9-24 {
        display       : inline-block;
        zoom          : 1;
        letter-spacing: normal;
        word-spacing  : normal;
        vertical-align: top;
        text-rendering: auto
    }

    .xl-1-36 {
        width: 2.7778%;
    }

    .xl-1-24 {
        width: 4.1667%;
    }

    .xl-2-36 {
        width: 5.5556%;
    }

    .xl-1-12,
    .xl-2-24,
    .xl-3-36 {
        width: 8.3333%;
    }

    .xl-4-36 {
        width: 11.1111%;
    }

    .xl-1-8,
    .xl-3-24 {
        width: 12.5%;
    }

    .xl-5-36 {
        width: 13.8889;
    }

    .xl-1-6,
    .xl-4-24,
    .xl-6-36 {
        width: 16.6667%;
    }

    .xl-7-36 {
        width: 19.4444%;
    }

    .xl-1-5 {
        width: 20%;
    }

    .xl-5-24 {
        width: 20.8333%;
    }

    .xl-8-36 {
        width: 22.2222%;
    }

    .xl-15-62 {
        width: 24.1935%;
    }

    .xl-1-4,
    .xl-6-24,
    .xl-9-36 {
        width: 25%
    }

    .xl-10-36 {
        width: 27.7778%;
    }

    .xl-7-24 {
        width: 29.1667%
    }

    .xl-1-3,
    .xl-8-24,
    .xl-12-36 {
        width: 33.3333%
    }

    .xl-3-8,
    .xl-9-24 {
        width: 37.5%
    }

    .xl-2-5 {
        width: 40%
    }

    .xl-10-24,
    .xl-5-12,
    .xl-15-36 {
        width: 41.6667%
    }

    .xl-11-24 {
        width: 45.8333%
    }

    .xl-17-36 {
        width: 47.2222%;
    }

    .xl-1-2,
    .xl-12-24 {
        width: 50%
    }

    .xl-13-24 {
        width: 54.1667%
    }

    .xl-14-24,
    .xl-7-12 {
        width: 58.3333%
    }

    .xl-3-5 {
        width: 60%
    }

    .xl-15-24,
    .xl-5-8 {
        width: 62.5%
    }

    .xl-16-24,
    .xl-2-3 {
        width: 66.6667%
    }

    .xl-17-24 {
        width: 70.8333%
    }

    .xl-18-24,
    .xl-3-4 {
        width: 75%
    }

    .xl-19-24 {
        width: 79.1667%
    }

    .xl-4-5 {
        width: 80%
    }

    .xl-20-24,
    .xl-5-6 {
        width: 83.3333%
    }

    .xl-21-24,
    .xl-7-8 {
        width: 87.5%
    }

    .xl-11-12,
    .xl-22-24 {
        width: 91.6667%
    }

    .xl-23-24 {
        width: 95.8333%
    }

    .xl-1,
    .xl-1-1,
    .xl-24-24,
    .xl-5-5 {
        width: 100%
    }
}