/** @format */

.galleryContainer {
  width: calc(100% - 600px);
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;

  .galleryImage {
    height: 150px;
    background-color: rgb(206, 245, 205);
    width: 100%;
  }

  .galleryUploade {
    height: 150px;
    background-color: rgb(164, 194, 218);
    width: 100%;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    .uplodeBtn {
      height: 50px;
      width: 95%;
      color: rgb(195, 195, 195);
      font-weight: 100;
      border: none;
      font-size: 20px;
      line-height: 25px;
      margin-top: -9px;
      cursor: pointer;
    }

    .svg-wrapper {
      margin: 25px 0 0 0;
      width: 150px;
      height: 60px;
      display: inline-block;
      border-radius: 3px;
      margin-left: 5px;
      margin-right: 5px;
    }

    #shape {
      stroke-width: 6px;
      fill: transparent;
      stroke: #009ffd;
      stroke-dasharray: 85 400;
      stroke-dashoffset: -220;
      transition: 1s all ease;
    }

    #text {
      margin-top: -46px;
      text-align: center;
    }

    .svg-wrapper:hover #shape {
      stroke-dasharray: 50 0;
      stroke-width: 3px;
      stroke-dashoffset: 0;
      stroke: #6302be;
    }
  }

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .file-upload {
      height: 200px;
      width: 200px;
      border-radius: 10px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: dashed;
      overflow: hidden;
      background-size: 100% 200%;
      transition: all 1s;
      color: #c3c3c3;
      font-size: 100px;

      input[type="file"] {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
      }

      &:hover {
        background-position: 0 -100%;

        color: rgb(195, 195, 195);
      }
    }
  }
}

.gallerGrid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .galleryDiv {
    cursor: pointer;
    height: 330px;

    .dots {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #c3c3c3;
      box-shadow: 0px 10px 0px #c3c3c3, 0px 20px 0px #c3c3c3;
      position: absolute;
      margin: 5px 50px 0 150px;

      div {
        margin: -20px 0 -10px -25px;
        height: 60px;
        width: 60px;
        z-index: 1;
      }
    }
  }

  .albumImage::after {
    content: "\2713";
    color: #6dc01a;
    line-height: 185px;
    font-size: 185px;
    font-weight: 1000;
    margin: 40px 0 0 -220px;
    position: absolute;
  }

  .uploadeImageGallery {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  input[type="text"] {
    border: none;
    border-bottom: 1px solid hsl(216, 37%, 22%);
    line-height: 20px;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .form__input {
    width: 90%;
  }

  .galleryContainer {
    width: calc(100% - 60px);

    .gallerGrid {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 0rem;

      .dots {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #c3c3c3;
        box-shadow: 0px 10px 0px #c3c3c3, 0px 20px 0px #c3c3c3;
        position: absolute;
        margin: 2px 50px 0 50px;

        div {
          margin: 0 0 0 -16px;
          height: 30px;
          width: 30px;
          z-index: 1;
        }
      }

      .file-upload {
        width: 100px;
        height: 100px;
        border: dashed;
        color: rgb(195, 195, 195);
        border-radius: 5px;
        background-image: none;

        input[type="file"] {
          width: 100px;
          height: 100px;
        }
      }

      .galleryDiv {
        height: 130px;

        .uploadeImageGallery {
          width: 100px;
          height: 100px;
        }
      }

      .albumImage::after {
        content: "\2713";
        color: #6dc01a;
        line-height: 85px;
        font-size: 85px;
        font-weight: 1000;
        margin: 10px 0 0 -75px;
        position: absolute;
      }
    }

    input[type="text"] {
      margin: 10px 0 0 0;
      width: 50%;
      font-size: 15px;
    }
  }

  label {
    line-height: 20px;
    font-size: 18px;
  }

  input[type="text"] {
    border: none;
    border-bottom: 1px solid hsl(216, 37%, 22%);
    line-height: 20px;
    font-size: 18px;
    background-color: rgb(226, 226, 226);
  }
}

.form__group {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }

  .form__input {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    width: 90%;
    border-top: 0.3rem solid transparent;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    transition: all 0.3s;
    float: right;
  }

  .select-css {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.9em 1.4em 0.5em 0.8em;
    width: 2%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  .select-css::-ms-expand {
    display: none;
  }

  .select-css:hover {
    border-color: #888;
  }

  .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }

  .select-css option {
    font-weight: normal;
  }
}

.boxImg {
  height: 640px;
  width: 360px;
  background-color: rgb(226, 226, 226);
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .deleteImd {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 27px 20px -3px #872918;
    background: linear-gradient(to bottom, #d1352a 5%, #d1352a 100%);
    background-color: #d1352a;
    border-radius: 7px;
    border: 1px solid #572620;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 28px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #e35e2d;
  }

  .deleteImd:hover {
    background: linear-gradient(to bottom, #d1352a 5%, #d1352a 100%);
    background-color: #d1352a;
  }
}

.EventBoxHidden {
  visibility: hidden;
}

.tagImg {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  label {
    line-height: 20px;
    font-size: 18px;
  }

  input[type="text"] {
    border: none;
    border-bottom: 1px solid hsl(216, 37%, 22%);
    line-height: 20px;
    font-size: 18px;
    background-color: rgb(226, 226, 226);
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;

      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }

      & + label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }

    &:not(.switch) {
      width: 21px;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  input[type="checkbox"] {
    &:not(.switch) {
      border-radius: 7px;
      border: 1px solid #3a4045;

      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --r: 43deg;
      }
    }

    &.switch {
      width: 38px;
      border-radius: 11px;

      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }

      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: 0.6;
          }
        }
      }
    }
  }

  input[type="radio"] {
    border-radius: 50%;

    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
    }

    &:checked {
      --s: 0.5;
    }
  }
}

.checkboxUploade {
  display: inline-block;
  position: absolute;
  top: 70%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 100%;
  list-style: none;

  li {
    margin: -160px 0 0 10px;
    position: relative;

    label {
      color: black;
      font-size: 22px;
    }
  }
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.checkBox {
  float: left;
}
