$wp-blue          : #0073AA;
$md-blue          : #00A0D2;
$ultra-dark-gray  : #191E23;
$dark-gray        : #23282D;
$base-gray        : #32373C;
$dark-silver-gray :#82878C;
$silver-gray      :#A0A5AA;
$light-silver-gray:#B4B9BE;
$red              :#DC3232;
$orange           :#F56E28;
$yellow           :#FFB900;
$green            :#46B450;
$purple           :#826EB4;
$black            :#000000;
$white            :#FFFFFF;